main {
  font-family: 'Akrobat', sans-serif;
  color: #333;
  line-height: 1.6;
  text-align: center;
  max-width: min(900px, 90%);
  margin: 1rem auto;
  padding: 20px;
}

main h2 {
  font-size: clamp(1rem, 2vw + 1.05rem, 2rem);
  margin-bottom: 20px;
  color: #b68d00;
}

main h3 {
  font-size: clamp(1rem, 1.5vw + 0.9rem, 1.6rem);
  margin-top: 20px;
  color: #3f3823;
  text-transform: uppercase;
}

main p {
  font-size: clamp(0.8rem, 1vw + 0.8rem, 1.15rem);
  margin: 10px 0;
  text-align: justify;
}

main ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  margin: 10px auto;
  color: #666;
}

main ul li {
  margin-bottom: 1em;
  font-size: clamp(0.8rem, 1vw + 0.8rem, 1.15rem);
}

main ul li strong {
  font-family: 'Akrobat Bold', sans-serif;
  color: #464646;
}

main .general-info,
main .specific-info {
  background: #ffffff;
  border: 2px solid #ffd966;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

main a {
  color: #e6ac00;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main section {
  padding-bottom: 1em;
  border-bottom: 1px solid #ffd966;
  margin: 0 2rem;
}

main section:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

main .specific-info section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'title title'
    'info info'
    'breed weight'
    'button button';
  grid-gap: 1rem;
}

main .specific-info h3 {
  grid-area: title;
}

main .specific-info p {
  grid-area: info;
}

main .specific-info .input-group:first-child {
  grid-area: breed;
}

main .specific-info .input-group:last-child {
  grid-area: weight;
}

main .specific-info .input-group {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'label'
    'input';
  gap: 0.2em;
}

main .specific-info label {
  font-family: 'Akrobat SemiBold', sans-serif;
  font-size: clamp(0.8rem, 1vw + 0.8rem, 1.15rem);
  grid-area: label;
}

main .specific-info select,
main .specific-info input {
  grid-area: input;
  border: 1px solid #ffd966;
  border-radius: 4px;
  font-family: 'Akrobat', sans-serif;
  font-size: clamp(0.8rem, 1vw + 0.8rem, 1.15rem);
  padding: 0.2em;
  width: 16em;
  height: 2em;
  margin: 0 auto;
  text-align: center;
  transition: transform 0.3s;
}

main .specific-info select:focus,
main .specific-info input:focus {
  outline-color: #e6ac00;
}

main .specific-info select:active,
main .specific-info input:active {
  transform: scale(0.98);
}

main .specific-info .info-group {
  position: relative;
  text-align: center;
}

.specific-info #weight-error {
  color: red;
  opacity: 0;
  transition: opacity 0.3s;
}

.specific-info button {
  grid-area: button;
  width: 80%;
  height: 2.2em;
  align-content: center;
  background: #ffd966;
  border: none;
  border-radius: 4px;
  color: #3f3823;
  cursor: pointer;
  font-family: 'Akrobat SemiBold', sans-serif;
  font-size: 1.25em;
  margin: 0 auto;
  padding: 0.5em 1em;
  transition: transform 0.3s;
}

#cat-info {
  display: none;
}

#cat-info h4 {
  color: #e6ac00;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

#cat-info p {
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  main .specific-info section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      'title'
      'info'
      'breed'
      'weight'
      'button';
    margin: 0;
  }
}
