#grid-page {
  margin: min(2rem, 4%) 0;
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-template-rows: repeat(4, 10vw);
  grid-template-areas:
    'norwegian-forest british-shorthair maine-coon    ragdoll'
    'norwegian-forest scottish-fold     scottish-fold ragdoll'
    'bengal           scottish-fold     scottish-fold persian'
    'burmese          burmese           siamese       persian';
  grid-gap: clamp(0.4rem, 1vw, 1.2rem);
  justify-content: center;
}

#grid-page .grid-item {
  position: relative;
  background-color: #f4f4f4;
  border-radius: 0.1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Akrobat', sans-serif;
  overflow: hidden;
}

#grid-page .grid-item .breed-name {
  font-family: 'Akrobat Bold', sans-serif;
  font-size: clamp(0.1rem, 2vw + 0.5rem, 1.6rem);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #f4f4f4;
  margin: 0 auto;
  width: 100%;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#grid-page .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: clamp(0.1rem, 1vw, 0.5rem);
}

#grid-page .grid-item.norwegian-forest {
  grid-area: norwegian-forest;
}

#grid-page .grid-item.norwegian-forest img {
  object-position: 50% 20%;
}

#grid-page .grid-item.british-shorthair {
  grid-area: british-shorthair;
}

#grid-page .grid-item.maine-coon {
  grid-area: maine-coon;
}

#grid-page .grid-item.maine-coon img {
  object-position: 50% bottom;
}

#grid-page .grid-item.scottish-fold {
  grid-area: scottish-fold;
}

#grid-page .grid-item.scottish-fold img {
  object-position: 50% bottom;
}

#grid-page .grid-item.ragdoll {
  grid-area: ragdoll;
}

#grid-page .grid-item.ragdoll img {
  object-position: 50% bottom;
}

#grid-page .grid-item.persian {
  grid-area: persian;
}

#grid-page .grid-item.persian img {
  object-position: 50% 80%;
}

#grid-page .grid-item.bengal {
  grid-area: bengal;
}

#grid-page .grid-item.burmese {
  grid-area: burmese;
}

#grid-page .grid-item.burmese img {
  object-position: 50% 62%;
}

#grid-page .grid-item.siamese {
  grid-area: siamese;
}

#grid-page .grid-item.siamese img {
  object-position: 50% 20%;
}

#grid-page .grid-item > p {
  font-size: 1.2em;
  color: #666;
}

#grid-page img {
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

#grid-page img.fade-out {
  opacity: 0;
}

@media (max-width: 768px) {
  #grid-page {
    grid-template-columns: repeat(2, 48vw);
    grid-template-rows: repeat(7, 24vw);
    grid-template-areas:
      'norwegian-forest   british-shorthair'
      'norwegian-forest   scottish-fold'
      'bengal             scottish-fold'
      'burmese            burmese'
      'maine-coon         ragdoll'
      'siamese            ragdoll'
      'persian            persian';
  }

  #grid-page .grid-item.grid-item.persian img {
    object-position: 10% 40%;
  }
}
