main h2 {
    font-family: 'Akrobat ExtraBold';
    font-size: 2rem;
    color: #333;
    text-align: center;
}

main h3 {
    font-family: 'Akrobat Bold';
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

main p {
    font-family: 'Akrobat';
    font-size: 1.1rem;
    color: #666;
    text-align: center;
    margin: 1rem 8rem;
    line-height: 1.5;
}

main table {
    font-family: 'Akrobat';
    font-size: 1.15rem;
    color: #555;
    text-align: left;
    margin: 1.5rem auto;
    line-height: 1.6;
    border-collapse: collapse;
    width: 90%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main table th {
    background-color: #ffd966;
    color: #3f3823;
    padding: 0.8rem;
    text-transform: uppercase;
    border: 1px solid #ffd966;
}

main table td {
    background-color: #ffffff;
    color: #333;
    padding: 0.8rem;
    border: 1px solid #ffd966;
}

main table tr:nth-child(even) td {
    background-color: #f9f9f9;
}

main table tr:hover td {
    background-color: #ffe699;
    color: #333;
}


main .animate {
    /* display: inline-block; */
    font-family: 'Akrobat';
    display: flex;
    justify-content: center;
    white-space: pre;
}

main .animate span {
    display: inline-block;
    animation: float 1500ms ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

main .animate span:nth-child(5n + 1) {
    animation-delay: 0s;
}

main .animate span:nth-child(5n + 2) {
    animation-delay: 0.1s;
}

main .animate span:nth-child(5n + 3) {
    animation-delay: 0.2s;
}

main .animate span:nth-child(5n + 4) {
    animation-delay: 0.3s;
}

main .animate span:nth-child(5n) {
    animation-delay: 0.4s;
}
