.navbar {
  z-index: 10;
  top: 0;
  max-height: 1.6rem;
  border-bottom: 1px solid #979797;
  background-color: #f4f4f4;
  padding: min(0.1rem, 4%) 0;
  text-align: center;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar .page {
  color: #686868;
  text-decoration: none;
  position: relative;
  font-family: 'Akrobat', sans-serif;
  font-size: clamp(0.8rem, 1vw + 0.8rem, 1.2rem);
  margin: min(4vw, 1rem);
  box-sizing: border-box;
  will-change: transform, color;
  transition: all 200ms ease-in-out;
}

.navbar .page:hover {
  font-family: 'Akrobat Bold', sans-serif;
  transform: scale(1.05);
  color: black;
  z-index: 10;
}

.navbar .page::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000000;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: bottom;
  will-change: transform;
  transition: all 300ms ease-in-out;
}

.navbar .page:hover::before {
  transform: scaleX(1);
  transform-origin: bottom;
  color: black;
}

.navbar .page .active {
  font-family: 'Akrobat SemiBold', sans-serif;
  color: rgb(41, 41, 41);
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
  line-height: 0;
  margin: 1em;
  width: 8em;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  flex-direction: column;
  margin-top: 0.6em;
  line-height: normal;
  z-index: 10;
}

.dropdown-content a {
  color: #686868;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Akrobat', sans-serif;
  font-size: 1em;
  z-index: 10;
}

.dropdown-content a:hover {
  background-color: #ddd;
  font-family: 'Akrobat Bold', sans-serif;
  border-radius: 0.3em;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.navbar .dropdown .active {
  font-family: 'Akrobat SemiBold', sans-serif;
  color: rgb(41, 41, 41);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .navbar::-webkit-scrollbar {
    display: none;
  }

  .navbar .dropdown-content {
    display: none;
  }
}
